<div class="container text-center">
    <div class="row row-cols-2">
      <div class="col" style="height:500px;">
<img [src]="getCurrentImage()" style="height: 500px;"/>
      </div> </div>
      <div class="row row-cols-2">
        <div class="col">
            <button type="button" class="btn btn-primary me-2 " (click)="Previous()">Previous</button>
            <button type="button" class="btn btn-info me-2" (click)="Next()">Next</button>
            <button type="button" class="btn btn-success me-2" (click)="Play()">Play</button>
            <button type="button" class="btn btn-danger" (click)="Stop()">Stop</button>
        </div>
    </div> </div>
 


